.box {
  padding: 20px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-link {
  text-decoration: none;
  font-size: 30px;
  color: darkslateblue;

  transition: color 250ms ease;

  &:hover,
  &:focus {
    color: firebrick;
  }
}
.menu-item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
